## Quiz

In [2]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [48]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        # Your code here
        soup                 = BeautifulSoup(file,"lxml")
        title                = soup.find("title").contents[0][0:-len("- Rotten Tomatoes")]
        audience_score       = soup.find('div' ,class_="audience-score meter").find('span').contents[0][:-1]
        num_audience_ratings = soup.find('div' ,class_="audience-info hidden-xs superPageFontColor")
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',','')
        
        """ 
        print(title)
        print(audience_score)
        print(num_audience_ratings)
        """
        # Note: a correct implementation may take ~15 seconds to run
        
        
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [55]:
df
df.to_csv("rotten.csv")

In [57]:
df

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,12 Years a Slave (2013),90,138789
2,A Hard Day's Night (1964),89,50067
3,A Streetcar Named Desire (1951),90,54761
4,Alien (1979),94,457186
...,...,...,...
95,Toy Story (1995),92,1107731
96,Up (2009),90,1201878
97,Vertigo (1958),93,101454
98,Wonder Woman (2017),90,112955
99,Zootopia (2016),92,98633

## Solution Test
Run the cell below the see if your solution is correct. If an `AssertionError` is thrown, your solution is incorrect. If no error is thrown, your solution is correct.

In [56]:
#df_solution = pd.read_pickle('df_solution.pkl')
df_solution = pd.read_csv("rotten.csv")
df.sort_values('title', inplace = True)
df.reset_index(inplace = True, drop = True)
df_solution.sort_values('title', inplace = True)
df_solution.reset_index(inplace = True, drop = True)
pd.testing.assert_frame_equal(df, df_solution)

AssertionError: DataFrame are different

DataFrame shape mismatch
[left]:  (100, 3)
[right]: (100, 4)