In [ ]:
import pandas as pd

In [ ]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35},
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index=['store 1', 'store 2'])

# We display the DataFrame
store_items

In [ ]:
store_items['bikes']

In [ ]:
store_items[["bikes","pants"]]

In [ ]:
store_items.loc[["store 1"]]

In [ ]:
store_items['bikes']['store 2']

In [ ]:
store_items['shirts']=[15,2]
store_items

In [ ]:
store_items['suits']=store_items['pants']+store_items["shirts"]
store_items

In [ ]:
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35,'watches': 10, 'glasses': 50}]
new_store=pd.DataFrame(new_items,index=['store 3'])
new_store

In [ ]:
store_items=store_items.append(new_store)
store_items

In [ ]:
store_items['new_watches']=store_items['watches'][1:]
store_items

In [ ]:
store_items.insert(5,"shoes",[8,5,0])

In [50]:
store_items

         bikes  pants  watches  glasses  shirts  shoes  suits  new_watches
store 1     20     30       35      NaN    15.0      8   45.0          NaN
store 2     15      5       10     50.0     2.0      5    7.0         10.0
store 3     20     30       10     50.0     NaN      0    NaN         10.0

In [51]:
store_items.pop('new_watches')

store 1     NaN
store 2    10.0
store 3    10.0
Name: new_watches, dtype: float64

In [52]:
store_items

         bikes  pants  watches  glasses  shirts  shoes  suits
store 1     20     30       35      NaN    15.0      8   45.0
store 2     15      5       10     50.0     2.0      5    7.0
store 3     20     30       10     50.0     NaN      0    NaN

In [53]:
store_items.drop(['watches','shoes'],axis=1)

         bikes  pants  glasses  shirts  suits
store 1     20     30      NaN    15.0   45.0
store 2     15      5     50.0     2.0    7.0
store 3     20     30     50.0     NaN    NaN

In [54]:
store_items= store_items.drop(['store 1','store 2'],axis=0)

         bikes  pants  watches  glasses  shirts  shoes  suits
store 3     20     30       10     50.0     NaN      0    NaN

In [55]:
store_items =store_items.rename(columns={'bikes':'hates'})
store_items

         hates  pants  watches  glasses  shirts  shoes  suits
store 1     20     30       35      NaN    15.0      8   45.0
store 2     15      5       10     50.0     2.0      5    7.0
store 3     20     30       10     50.0     NaN      0    NaN

In [57]:
store_items=store_items.rename(index={"store 3": "last store"})
store_items

            hates  pants  watches  glasses  shirts  shoes  suits
store 1        20     30       35      NaN    15.0      8   45.0
store 2        15      5       10     50.0     2.0      5    7.0
last store     20     30       10     50.0     NaN      0    NaN