In [1]:
import pandas as pd

In [2]:
items = {'Bob': pd.Series(data=[245, 25, 55], index=['bike', 'pants', 'watch']),
         'Alice': pd.Series(data=[40, 110, 500, 45], index=['book', 'glasses', 'bike', 'pants'])}
type(items)

dict

In [3]:
shopint_cart = pd.DataFrame(items)
shopint_cart

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [ ]:
data = {'Bob': pd.Series([245, 25, 55]),'Alice': pd.Series([40, 110, 500, 45])}
data
df =pd.DataFrame(data)
df

In [ ]:
shopint_cart.index

In [ ]:
shopint_cart.columns

In [ ]:
shopint_cart.values

In [ ]:
shopint_cart.size

In [ ]:
shopint_cart.shape

In [21]:
bob_shopint_cart=pd.DataFrame(items,columns=["Bob"])
bob_shopint_cart

       Bob
bike   245
pants   25
watch   55

In [23]:
selected_shopint_cart=pd.DataFrame(items,index=['pants',"book"])
selected_shopint_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [25]:
alice_shoping_cart= pd.DataFrame(items,index=['glasses','bike'],columns=['Alice'])
alice_shoping_cart

        Alice
glaces    NaN
bike    500.0