In [18]:
import pandas as pd

In [19]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

# We create a DataFrame  and provide the row index
store_itesm= pd.DataFrame(items2,index=['store 1','store 2','store 3'])

In [20]:
# We display the DataFrame
store_itesm

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [21]:
x =store_itesm.isnull() #.sum().sum()
x

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1  False  False    False   False  False  False     True
store 2  False  False    False   False  False  False    False
store 3  False  False    False    True  False   True    False

In [22]:
x =store_itesm.isnull().sum() #.sum()
x
# get the sum of each 1 "True = 1 (NAN)" in each colomn

bikes      0
pants      0
watches    0
shirts     1
shoes      0
suits      1
glasses    1
dtype: int64

In [23]:
x =store_itesm.isnull().sum().sum()
x
# sum the ones "True = 1 (NAN)" in all the data

3

In [24]:
x =store_itesm.notnull() #.sum().sum()
x

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   True   True     True    True   True   True    False
store 2   True   True     True    True   True   True     True
store 3   True   True     True   False   True  False     True

In [25]:
# get the sum of each 1 "False = 0 (NAN)" in each colomn
x = store_itesm.notnull().sum()
x

bikes      3
pants      3
watches    3
shirts     2
shoes      3
suits      2
glasses    2
dtype: int64

In [26]:
# sum the zeroes "False = 1 (NAN)" in all the data
x = store_itesm.notnull().sum().sum()
x

18

In [27]:
store_itesm.dropna(axis=0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 2     15      5       10     2.0      5    7.0     50.0

In [28]:
store_itesm.dropna(axis=1)

         bikes  pants  watches  shoes
store 1     20     30       35      8
store 2     15      5       10      5
store 3     20     30       35     10

In [29]:
## drop the valeu fore the actual data
#store_itesm.dropna(axis=1,inplace=True)
store_itesm

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [30]:
store_itesm.fillna(0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      0.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     0.0     10    0.0      4.0

In [32]:
store_itesm.fillna(method="ffill",axis=0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

In [33]:
store_itesm.fillna(method='ffill',axis=1)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    35.0   10.0   10.0      4.0

In [34]:
store_itesm.fillna(method='backfill',axis=0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0     50.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [36]:
store_itesm.interpolate(method="linear",axis=0)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

In [37]:
store_itesm.interpolate(method="linear",axis=1)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    22.5   10.0    7.0      4.0