In [ ]:
""" 
Practice Problem #3: Load and Filter the Dataset
This is a bit of a bigger task, which involves choosing a dataset to load and filtering it based on a specified month and day.
In the quiz below, you'll implement the load_data() function, which you can use directly in your project. 

There are four steps:

Load the dataset for the specified city. Index the global CITY_DATA dictionary object to get the corresponding filename for the given city name.

Create month and day_of_week columns. Convert the "Start Time" column to datetime and extract the month number and weekday name into separate columns using the datetime module.

Filter by month. Since the month parameter is given as the name of the month, you'll need to first convert this to the corresponding month number. Then, select rows of the dataframe that have the specified month and reassign this as the new dataframe.

Filter by day of week. Select rows of the dataframe that have the specified day of week and reassign this as the new dataframe. 
(Note: Capitalize the day parameter with the title() method to match the title case used in the day_of_week column!)
"""

In [ ]:
import pandas as pd

In [20]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [19]:
 def load_data(city, month, day):
      df = pd.read_csv(CITY_DATA[city])

      df['Start Time'] = pd.to_datetime(df['Start Time'])

      df['month'] = df['Start Time'].dt.month

      df['day_of_week'] =df['Start Time'].dt.day

      months = ['january', 'february', 'march', 'april', 'may', 'june']
      month = months.index(month)  

      df = df[df['Start Time'].dt.month == month+1]

      df = df[df['Start Time'].dt.day == day]

      return df
      
df = load_data('chicago', 'march', 10)

df

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
75,2017-03-10 13:40:54,2017-03-10 13:45:09,255,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Female,1983.0,3,10
247,2017-03-10 08:21:05,2017-03-10 08:23:28,143,Damen Ave & Division St,Ashland Ave & Division St,Subscriber,Male,1991.0,3,10

In [31]:
 df['month']

0      5
1      6
2      2
3      4
4      1
      ..
395    2
396    5
397    6
398    5
399    5
Name: month, Length: 400, dtype: int64

In [35]:
 df['day_of_week']

0      29
1      12
2      13
3      24
4      26
       ..
395     6
396    22
397     9
398    16
399    16
Name: day_of_week, Length: 400, dtype: int64

In [ ]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] =df['Start Time'].dt.day 


    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month)
    
        # filter by month to create the new dataframe
        month = months.index(month)  
        df = df[df['Start Time'].dt.month == month+1]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = 
    
    return df

In [2]:
df = load_data('chicago', 'march', 'friday')

NameError: name 'load_data' is not defined

In [3]:
k=["hkaled","mohamed"]
n=k.index("mohamed")
print(n)

1

In [4]:
### Practice Solution #3: Loading and Filtering Data
import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1

        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]

    return df

In [6]:
load_data('chicago', 'march', 'sunday')

Empty DataFrame
Columns: [Start Time, End Time, Trip Duration, Start Station, End Station, User Type, Gender, Birth Year, month, day_of_week]
Index: []