In [3]:
import pandas as pd

In [4]:
wine_df = pd.read_csv("winequality_edited.csv")

In [5]:
wine_df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,total_sulfur_dioxide.1
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,NaN
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,NaN
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,NaN
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,NaN
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,NaN

In [6]:
wine_df.mean()

fixed_acidity               7.215307
volatile_acidity            0.339666
citric_acid                 0.318633
residual_sugar              5.443235
chlorides                   0.056034
free_sulfur_dioxide        30.525319
total_sulfur_dioxide       46.467792
density                     0.994697
pH                          3.218501
sulphates                   0.531268
alcohol                    10.491801
quality                     5.818378
total_sulfur_dioxide.1    138.360657
dtype: float64

In [7]:
wine_df.groupby(wine_df.fixed_acidity).mean()

,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,total_sulfur_dioxide.1
fixed_acidity,,,,,,,,,,,,
3.8,0.3100,0.020000,11.100000,0.036000,20.0,NaN,0.992480,3.750,0.440000,12.40,6.0,114.000000
3.9,0.2250,0.400000,4.200000,0.030000,29.0,NaN,0.989000,3.570,0.360000,12.80,8.0,118.000000
4.2,0.1925,0.295000,3.450000,0.035000,78.5,NaN,0.993435,3.535,0.665000,10.00,5.0,159.000000
4.4,0.4400,0.193333,4.066667,0.030667,38.0,NaN,0.989140,3.450,0.366667,12.70,7.0,111.666667
4.5,0.1900,0.210000,0.950000,0.033000,89.0,NaN,0.993320,3.340,0.420000,8.00,5.0,159.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
14.3,0.3100,0.740000,1.800000,0.075000,6.0,15.0,1.000800,2.860,0.790000,8.40,6.0,NaN
15.0,0.2100,0.440000,2.200000,0.075000,10.0,24.0,1.000050,3.070,0.840000,9.20,7.0,NaN
15.5,0.6450,0.490000,4.200000,0.095000,10.0,23.0,1.003150,2.920,0.740000,11.10,5.0,NaN
15.6,0.6650,0.625000,3.950000,0.097500,8.0,33.0,1.003175,2.935,0.710000,11.15,6.0,NaN
15.9,0.3600,0.650000,7.500000,0.096000,22.0,71.0,0.997600,2.980,0.840000,14.90,5.0,NaN

In [8]:
wine_df.groupby(wine_df.quality).mean()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,total_sulfur_dioxide.1
quality,,,,,,,,,,,,
3,7.853333,0.517000,0.281000,5.140000,0.077033,39.216667,24.900000,0.995744,3.257667,0.506333,10.215000,170.600000
4,7.288889,0.457963,0.272315,4.153704,0.060056,20.636574,36.245283,0.994833,3.231620,0.505648,10.180093,125.279141
5,7.326801,0.389614,0.307722,5.804116,0.064666,30.237371,56.513950,0.995849,3.212189,0.526403,9.837783,150.904598
6,7.177257,0.313863,0.323583,5.549753,0.054157,31.165021,40.869906,0.994558,3.217726,0.532549,10.587553,137.047316
7,7.128962,0.288800,0.334764,4.731696,0.045272,30.422150,35.020101,0.993126,3.228072,0.547025,11.386006,125.114773
8,6.835233,0.291010,0.332539,5.382902,0.041124,34.533679,33.444444,0.992514,3.223212,0.512487,11.678756,126.165714
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,NaN,0.991460,3.308000,0.466000,12.180000,116.000000

In [9]:
wine_df.groupby([wine_df.quality,wine_df.color]).mean()

               fixed_acidity  volatile_acidity  citric_acid  residual_sugar  \
quality color
3       red         8.360000          0.884500     0.171000        2.635000
        white       7.600000          0.333250     0.336000        6.392500
4       red         7.779245          0.693962     0.174151        2.694340
        white       7.129448          0.381227     0.304233        4.628221
5       red         8.167254          0.577041     0.243686        2.528855
        white       6.933974          0.302011     0.337653        7.334969
6       red         8.347179          0.497484     0.273824        2.477194
        white       6.837671          0.260564     0.338025        6.441606
7       red         8.872362          0.403920     0.375176        2.720603
        white       6.734716          0.262767     0.325625        5.186477
8       red         8.566667          0.423333     0.391111        2.577778
        white       6.657143          0.277400     0.326514        5.671429
9       white       7.420000          0.298000     0.386000        4.120000

               chlorides  free_sulfur_dioxide  total_sulfur_dioxide   density  \
quality color
3       red     0.122500            11.000000             24.900000  0.997464
        white   0.054300            53.325000                   NaN  0.994884
4       red     0.090679            12.264151             36.245283  0.996542
        white   0.050098            23.358896                   NaN  0.994277
5       red     0.092736            16.983847             56.513950  0.997104
        white   0.051546            36.432052                   NaN  0.995263
6       red     0.084956            15.711599             40.869906  0.996615
        white   0.045217            35.650591                   NaN  0.993961
7       red     0.076588            14.045226             35.020101  0.996104
        white   0.038191            34.125568                   NaN  0.992452
8       red     0.068444            13.277778             33.444444  0.995212
        white   0.038314            36.720000                   NaN  0.992236
9       white   0.027400            33.400000                   NaN  0.991460

                     pH  sulphates    alcohol  total_sulfur_dioxide.1
quality color
3       red    3.398000   0.570000   9.955000                     NaN
        white  3.187500   0.474500  10.345000              170.600000
4       red    3.381509   0.596415  10.265094                     NaN
        white  3.182883   0.476135  10.152454              125.279141
5       red    3.304949   0.620969   9.899706                     NaN
        white  3.168833   0.482203   9.808840              150.904598
6       red    3.318072   0.675329  10.629519                     NaN
        white  3.188599   0.491106  10.575372              137.047316
7       red    3.290754   0.741256  11.465913                     NaN
        white  3.213898   0.503102  11.367936              125.114773
8       red    3.267222   0.767778  12.094444                     NaN
        white  3.218686   0.486229  11.636000              126.165714
9       white  3.308000   0.466000  12.180000              116.000000

In [11]:
wine_df.groupby(["quality" ,  "color"], as_index=False).mean()

,quality,color,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,total_sulfur_dioxide.1
0,3,red,8.360000,0.884500,0.171000,2.635000,0.122500,11.000000,24.900000,0.997464,3.398000,0.570000,9.955000,NaN
1,3,white,7.600000,0.333250,0.336000,6.392500,0.054300,53.325000,NaN,0.994884,3.187500,0.474500,10.345000,170.600000
2,4,red,7.779245,0.693962,0.174151,2.694340,0.090679,12.264151,36.245283,0.996542,3.381509,0.596415,10.265094,NaN
3,4,white,7.129448,0.381227,0.304233,4.628221,0.050098,23.358896,NaN,0.994277,3.182883,0.476135,10.152454,125.279141
4,5,red,8.167254,0.577041,0.243686,2.528855,0.092736,16.983847,56.513950,0.997104,3.304949,0.620969,9.899706,NaN
5,5,white,6.933974,0.302011,0.337653,7.334969,0.051546,36.432052,NaN,0.995263,3.168833,0.482203,9.808840,150.904598
6,6,red,8.347179,0.497484,0.273824,2.477194,0.084956,15.711599,40.869906,0.996615,3.318072,0.675329,10.629519,NaN
7,6,white,6.837671,0.260564,0.338025,6.441606,0.045217,35.650591,NaN,0.993961,3.188599,0.491106,10.575372,137.047316
8,7,red,8.872362,0.403920,0.375176,2.720603,0.076588,14.045226,35.020101,0.996104,3.290754,0.741256,11.465913,NaN
9,7,white,6.734716,0.262767,0.325625,5.186477,0.038191,34.125568,NaN,0.992452,3.213898,0.503102,11.367936,125.114773
10,8,red,8.566667,0.423333,0.391111,2.577778,0.068444,13.277778,33.444444,0.995212,3.267222,0.767778,12.094444,NaN
11,8,white,6.657143,0.277400,0.326514,5.671429,0.038314,36.720000,NaN,0.992236,3.218686,0.486229,11.636000,126.165714
12,9,white,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,NaN,0.991460,3.308000,0.466000,12.180000,116.000000

In [16]:
wine_df.groupby(["quality" , "color"],as_index=False)["pH"].mean()

    quality  color        pH
0         3    red  3.398000
1         3  white  3.187500
2         4    red  3.381509
3         4  white  3.182883
4         5    red  3.304949
5         5  white  3.168833
6         6    red  3.318072
7         6  white  3.188599
8         7    red  3.290754
9         7  white  3.213898
10        8    red  3.267222
11        8  white  3.218686
12        9  white  3.308000