# Drawing Conclusions Using Groupby
In the notebook below, you're going to investigate two questions about this data using pandas' groupby function. Here are tips for answering each question:
***
## Q1: Is a certain type of wine (red or white) associated with higher quality?
For this question, compare the average quality of red wine with the average quality of white wine with groupby. To do this group by color and then find the mean quality of each group.
***
## Q2: What level of acidity (pH value) receives the highest average rating?
This question is more tricky because unlike color, which has clear categories you can group by (red and white) pH is a quantitative variable without clear categories. However, there is a simple fix to this. You can create a categorical variable from a quantitative variable by creating your own categories. pandas' cut function let's you "cut" data in groups. Using this, create a new column called acidity_levels with these categories:

### Acidity Levels:
1. High: Lowest 25% of pH values
2. Moderately High: 25% - 50% of pH values
3. Medium: 50% - 75% of pH values
4. Low: 75% - max pH value


Here, the data is being split at the 25th, 50th, and 75th percentile. Remember, you can get these numbers with pandas' describe()! After you create these four categories, you'll be able to use groupby to get the mean quality rating for each acidity level.
***

# Drawing Conclusions Using Groupby

Use `winequality_edited.csv`. You should've created this data file in the previous section: *Appending Data (cont.)*.

In [1]:
import pandas as pd

In [2]:
# Load dataset

df = pd.read_csv("winequality_edited.csv")
df.head(3)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,total_sulfur_dioxide.1
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,NaN
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,NaN
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,NaN

### Is a certain type of wine associated with higher quality?

In [11]:
df.groupby(df.color).mean()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,total_sulfur_dioxide.1
color,,,,,,,,,,,,,
red,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023,NaN
white,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,NaN,0.994027,3.188267,0.489847,10.514267,5.877909,138.360657

In [8]:
# Find the mean quality of each wine type (red and white) with groupby
df.groupby([df.quality , df.color]).mean()

               fixed_acidity  volatile_acidity  citric_acid  residual_sugar  \
quality color
3       red         8.360000          0.884500     0.171000        2.635000
        white       7.600000          0.333250     0.336000        6.392500
4       red         7.779245          0.693962     0.174151        2.694340
        white       7.129448          0.381227     0.304233        4.628221
5       red         8.167254          0.577041     0.243686        2.528855
        white       6.933974          0.302011     0.337653        7.334969
6       red         8.347179          0.497484     0.273824        2.477194
        white       6.837671          0.260564     0.338025        6.441606
7       red         8.872362          0.403920     0.375176        2.720603
        white       6.734716          0.262767     0.325625        5.186477
8       red         8.566667          0.423333     0.391111        2.577778
        white       6.657143          0.277400     0.326514        5.671429
9       white       7.420000          0.298000     0.386000        4.120000

               chlorides  free_sulfur_dioxide  total_sulfur_dioxide   density  \
quality color
3       red     0.122500            11.000000             24.900000  0.997464
        white   0.054300            53.325000                   NaN  0.994884
4       red     0.090679            12.264151             36.245283  0.996542
        white   0.050098            23.358896                   NaN  0.994277
5       red     0.092736            16.983847             56.513950  0.997104
        white   0.051546            36.432052                   NaN  0.995263
6       red     0.084956            15.711599             40.869906  0.996615
        white   0.045217            35.650591                   NaN  0.993961
7       red     0.076588            14.045226             35.020101  0.996104
        white   0.038191            34.125568                   NaN  0.992452
8       red     0.068444            13.277778             33.444444  0.995212
        white   0.038314            36.720000                   NaN  0.992236
9       white   0.027400            33.400000                   NaN  0.991460

                     pH  sulphates    alcohol  total_sulfur_dioxide.1
quality color
3       red    3.398000   0.570000   9.955000                     NaN
        white  3.187500   0.474500  10.345000              170.600000
4       red    3.381509   0.596415  10.265094                     NaN
        white  3.182883   0.476135  10.152454              125.279141
5       red    3.304949   0.620969   9.899706                     NaN
        white  3.168833   0.482203   9.808840              150.904598
6       red    3.318072   0.675329  10.629519                     NaN
        white  3.188599   0.491106  10.575372              137.047316
7       red    3.290754   0.741256  11.465913                     NaN
        white  3.213898   0.503102  11.367936              125.114773
8       red    3.267222   0.767778  12.094444                     NaN
        white  3.218686   0.486229  11.636000              126.165714
9       white  3.308000   0.466000  12.180000              116.000000

### What level of acidity receives the highest average rating?

In [13]:
# View the min, 25%, 50%, 75%, max pH values with Pandas describe
df.pH.describe()

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [14]:
# Bin edges that will be used to "cut" the data into groups
bin_edges = [2.720000,3.110000 , 3.210000,3.320000 , 4.010000 ] # Fill in this list with five values you just found

In [17]:
# Labels for the four acidity level groups
bin_names = [ "min","25%" ,"50%" ,"75" ] # Name each acidity level category

In [18]:
# Creates acidity_levels column
df['acidity_levels'] = pd.cut(df['pH'], bin_edges, labels=bin_names)

# Checks for successful creation of this column
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,total_sulfur_dioxide.1,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,NaN,75
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,NaN,25%
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,NaN,50%
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,NaN,25%
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,NaN,75

In [21]:
# Find the mean quality of each acidity level with groupby
df.groupby(df.acidity_levels).mean()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,total_sulfur_dioxide.1
acidity_levels,,,,,,,,,,,,,
min,7.543914,0.294683,0.370792,7.088876,0.055131,33.179965,50.111888,0.994708,3.029062,0.503937,10.330208,5.783343,137.146125
25%,7.365064,0.318551,0.340548,5.931984,0.054666,33.229154,47.921708,0.994697,3.164833,0.509300,10.391073,5.784540,143.092878
50%,7.143566,0.346751,0.313585,4.721159,0.055715,28.983995,49.702032,0.994476,3.267010,0.541287,10.610369,5.850832,135.521448
75,6.769949,0.403815,0.243901,3.848983,0.058777,26.327510,43.240437,0.994899,3.433348,0.574136,10.656057,5.859593,136.716746

In [22]:
# Save changes for the next section
df.to_csv('winequality_edited.csv', index=False)